<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">

  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="valuation" data-view="Number" data-title="Number of Searches" data-moreinfo="Searches on Antlos Counter" data-prefix="$"></div>
    </li>
  </ul>

  <!-- <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center> -->

  <!-- <center>
    <div style="font-size: 12px">
      Try this: curl -d '{ "current": 300 }' http://<%=request.host%>/widgets/valuation
    </div>
  </center> -->

</div>
